<div class="container-detailt-header">
    <div class="card-clone">
        <div class="card">
            <div class="inner">
                <div class="front">
                    <div class="info-box">
                        <h1>{{ appTexts.Detailt }}</h1>
                    </div>
                    <div class="planet p-1">
                        <div class="ring"></div>
                    </div>
                    <div class="planet p-2"></div>
                </div>
                <div class="planet sun"></div>
                <div class="planet p-1">
                    <div class="ring"></div>
                </div>
                <div class="planet p-2"></div>
                <div class="planet p-3"></div>
                <div class="star shooting-star"></div>
                <div class="star shooting-star"></div>
                <div class="star shooting-star"></div>
            </div>
        </div>
    </div>
</div>